@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.shopys-logo{
    height: fit-content;
    width: fit-content;
    padding: 5px;
    background-color: #FFF;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: 50px;
    left: -50px;
}

.navbar-horizontal .navbar-brand img{
    height: auto !important;
}
 

 
.shopys-nav li a{
    text-decoration: none;
    font-family: 'Sacramento', cursive;
    font-size: 34px;
    color:#21515e;
}

.shopys-nav{
    width: 100%;
}

.shopys-special-spacing-top{
    margin-top: -100px  !important;
}

.shopys-footer-head{
    font-family: 'Dancing Script', cursive;
    font-size: 22px;
    font-weight: bold;
   
}

.enhace-shading {
    box-shadow: 0 1px 1px rgba(0,0,0,0.7), 
    0 2px 2px rgba(0,0,0,0.11), 
    0 4px 4px rgba(0,0,0,0.11), 
    0 6px 8px rgba(0,0,0,0.11),
    0 8px 16px rgba(0,0,0,0.11);
  }

.shopys-footer-content{
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    color: #828181;
}

.shopys-footer{
    border-top: 1px solid #f2f2f2;
    background-color: #f9f9f9;
}


.m-9{
    margin: 9rem !important;
}

.wind{
  height: 600px;
}